@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Poppins:wght@100;200;300;400;500&family=Pushster&display=swap');


:root{
    --main-color: #c7a17a;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
}
.info{
    background: #000;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    font-size: 14px;
    border-bottom: 1px solid #333;
}

.info .info-left{
    display: flex;
}
.info-left section:first-child{
    margin-right: 20px;
}
.info-right{
    display: flex;
    align-items: center;
}
.info-right .social{
    margin-right: 20px;
}
.info-right .social a{
    margin: 0px 5px;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s ease-in-out;
}
.info-right .social a:hover{
    color: var(--main-color);
}
.info-right .info-link a{
    display: inline-block;
    color: #FFF;
    text-transform: capitalize;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    transition: .4s ease-in-out;
    padding: 7px 12px;
    border-radius: 5px;
}

.info-link a:hover{
    border-color: #333;
    background: transparent;
    text-decoration: none;
}



.footer{
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) , url(./images/footer.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 100px 0px;
}
.footer .footer-flex{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-row-gap: 20px;
    flex-wrap: wrap;
}
.footer-flex .footer1{
    width: 32%;
    color: #FFF;

}
.footer1 img{
    margin-bottom: 20px;
}
.footer1 section{
    font-size: 14px;
    margin-bottom: 20px;
}
.footer1 .footer-links a{
    text-decoration: none;
    color: #FFF;
    margin: 0 8px;
    font-size: 14px;
    display: inline-block;
    transition: .4s ease-in-out;
}
.footer-links a:hover{
    color: var(--main-color);
}

.footer1 h3{
    text-transform: capitalize;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 50px;
    display: inline-block;
}
.footer1 .location{
    margin-left: 30px;
    margin-bottom: 20px;
}
.location span{
    margin-left: -30px;
    display: inline-block;
    margin-right: 13px;
}
.location a{
    text-decoration: none;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: inline-block;
}
.location section{
    margin-bottom: 4px;
}

.footer1 form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 52px;
    line-height: 52px;
    background: #FFF;
    border-radius: 30px;
    overflow: hidden;
}
.footer1 form input{
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 13px;
    color: var(--main-color);
    width: 75%;
}
.footer1 form a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: #FFF;
    background: var(--main-color);
    width: 25%;
    text-align: center;
}

.check{
    margin-top: 20px;
}
.check label{
    font-size: 14px;
}
@media(max-width: 991px){
    .footer-flex .footer1{
        width: 49%;
    }
}

@media(max-width: 576px){
    .footer-flex .footer1{
        width: 100%;
    }
}